<div class="messageBox autoclose">
    <div class="modal-header">
        <h3 data-bind="text: title"></h3>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <form id="formUpdateUser" class="form-horizontal">                        
                        <div class="control-group">
                            <label class="control-label">User Name</label>
                            <div class="controls">
                                <input id="userName" name="userName" type="text" data-bind="value: userName"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Email</label>
                            <div class="controls">
                                <input type="text" id="userEmail" name="userEmail" data-bind="value: userEmail"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Password</label>
                            <div class="controls">
                                <input type="text" id="password" name="password" data-bind="value: password"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Active</label>
                            <div class="controls">
                                <input type="checkbox" data-bind="checked: isActive"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-bind="click: updateUser">Add User</button>
        <button class="btn btn-primary" data-bind="click: closeModal">Close</button>
    </div>
</div>
