<section>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <h2 class="page-title" data-bind="text: title"></h2>
                <blockquote data-bind="text: description"></blockquote>
                
                <div style="margin-left:auto;margin-right:auto;width:450px;">                    
                    <form id="myPasswordForm" >
                        <fieldset>
                            <legend></legend>
                            <label>Old Password</label>
                            <input name="oldPassword" id="oldPassword" autofocus="" type="password" data-bind="value: passwordModel().oldPassword" placeholder="Enter your old password"/>
                            <label>New Password</label>
                            <input name="newPassword" id="newPassword" autofocus="" type="password" data-bind="value: passwordModel().newPassword" placeholder="Enter your new password"/>
                            <label>Confirm Password</label>
                            <input name="confirmPassword" id="PaconfirmPasswordssword1" autofocus="" type="password" data-bind="value: passwordModel().confirmPassword" placeholder="Confirm your new password"/>
                            <br/>
                            <button class="btn btn-primary" data-bind="click: sendChangePassword">Change Password</button>     
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

