<section>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title" data-bind="text: title"></h3>
                <blockquote data-bind="text: description"></blockquote>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <button class="btn" data-bind="click: addRole"><i class="icon-user"></i>&nbsp;Add Role</button>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Role</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: listOfRoles">
                        <tr>
                            <td><span data-bind="text: RoleName"></span></td>                            
                            <td>
                                <div class="btn-group pull-right">
                                    <button class="btn dropdown-toggle" data-toggle="dropdown">Action&nbsp;<span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a style="cursor: pointer;" class="editRole">Edit Role</a></li>
                                        <li><a style="cursor: pointer;" class="viewUsers">View Users</a></li>                                                                                
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>